extends baseEmail
block content
        p Hi #{firstName},
        p Forgot Your password ? 
        p Submit a Patch request with your new password and passwordConfirm to #{url}
        p Token will expire in 30 minutes. Please verify to this url
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Verify token
        p If you didn't forget your password please ignore this email